<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/styles.css">
    <title>About</title>
    <link rel="icon" href="/images/weather.png" type="icon">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="me" src="./images/20201116_131249.jpg" alt="me">
        <h2>Maryada Kumar Lodha D</h2>
        <p>2nd year Engineering Student at Thiagarajar College of Engineering | Open to opportunities to explore and
            learn web development | Always learning and improving as a human being and as a developer.</p>

        <p>I learn new skills and try to apply them. I have keen interest in Web Development. I am a self-learner, who
            puts google
            to good use 😁. I am a reflexive and energetic person. I handle TCE Quiz club's the Quizzards OF TCE blog.
            (https://quizzardsoftce.blogspot.com/)

            When I am not working I usually spend my time listening to music or reading a book. I like MCU and Star
            wars.</p>
    </div>
    {{>footer}}
</body>

</html>